<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" th:href="@{/webjars/bootswatch/3.3.5+4/paper/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/flinx.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery.lazyload/1.9.3/jquery.lazyload.min.js}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>

    <title>Flinx</title>
</head>
<body>
<header id="navbar" class="navbar navbar-default" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Flinx</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/discover">Discover</a>
                </li>
                <li>
                    <a href="#">Account</a>
                </li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>