body {
    font-family: "Varela Round","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}

.info .row {
    margin-top:20px;
}
.backdrop {
    background-size: cover;
    background-position: 50% 10%;
    position: relative;
    height: 650px;
}

.backdrop .shadow-base {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%) repeat-x;
    height: 120px;
    bottom: 60px;
    position: absolute;
    width: 100%;
}

.backdrop .movie-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    background-color: rgba(0,0,0,0.7);
}

.backdrop .movie-info .info {
    list-style: none;
    margin-top: 6px;
}

.backdrop .movie-info .info .info-item {
    text-align: left;
    margin-left: 20px;
    display: inline-block;
}

.backdrop .movie-info .info .info-item .movie-name {
    color: white;
    font-size: 26px;
    text-shadow: 0 0 20px black;
}

.backdrop .movie-info .info .info-item .movie-year {
    color: #CCC;
    font-size: 20px;
    font-weight: 300;
}

.backdrop .movie-info .info .info-item .movie-rating {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

header#navbar {
    position: fixed;
    transform: translateZ(0);
    width: 100%;
    min-height: 64px;
    top: 0;
    z-index: 1500;
}

div.frame {
    margin-top: 64px;
}

.film-grid .grid-item {
    border-right: solid 1px #333333;
    border-bottom: solid 1px #333333;
}
.film-grid .grid-item .image img{
    width:100%;
    background: rgba(0, 0, 0, 0.8);
}

.film-grid .grid-item .shadow {
    position: absolute;
    height: 75px;
    width: 100%;
    bottom: 0;
    left: 0;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%) repeat-x;
}

.film-grid .grid-item .buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    height: auto;
    margin: 0;
    vertical-align: middle;
}

.film-grid .grid-item .buttons .btn{
    display:block;
    margin-bottom: 6px;
}

.backdrop .buttons {
    position: absolute;
    bottom: 70px;
    left: 10px;
    height: auto;
    margin: 0;
    vertical-align: middle;
}

.btn-netflix{
    background-color: #B9090B;
    color: white;
}
.btn-cinema{
    background-color: #FFC801;
    color: black;
}

.film-grid .grid-item .info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: auto;
    margin: 0;
}

.film-grid .grid-item .info h3{
    color: white;
    font-size: 22px;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 0;
    text-align: left;
    white-space: normal;
    height: auto;
    overflow: visible;
}

.film-grid .grid-item .info h3 .year{
    color: #EEE;
    font-size: 16px;
    font-weight: 300;
}

.col-xlg-3, .col-md-4, .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}

.error {
    padding-top: 10%;
}

.error h1 {
    color: #666666;
    font-size: 128px;
    text-shadow: 0 0 6px rgba(0,0,0,0.3);
    margin: 0;
}