<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"/>
<body>
<header th:replace="fragments/layout :: navbar"/>
<div class="frame">
    <div class="container-fluid">
        <div class="row film-grid">
        <div th:each="film,status : ${films}" th:class="(${(status.index&lt;2)} ? 'col-sm-6' : 'col-xlg-3 col-md-4 col-sm-6') + ' grid-item'">
            <a th:href="${'/films/' + film.getTitleSlug()}">
                <div class="image">
                <img th:attr="data-original=${'http://image.tmdb.org/t/p/w780' + film.getBackdropPath()}"/>
                </div>
                <div class="shadow"></div>
                <div class="info">
                    <h3 th:inline="text">
                        <span th:text="${film.getOriginalTitle()}" th:remove="tag"/>
                        <span class="year" th:text="${film.getProductionYear()}"/>
                    </h3>
                </div>
            </a>

            <div class="buttons">
                <a th:if="${film.netflixId!=null}" th:attr="data-id=${film.netflixId}" th:class="'btn btn-netflix'">Netflix</a>
                <!--<a th:class="'btn btn-cinema' + (${film.cinemaUrl==null} ? ' disabled' : '')">Finnkino</a>-->
            </div>

        </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/js/flinx.js}"/>
</body>
</html>