<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"/>
<body>
<header th:replace="fragments/layout :: navbar"/>
<!--/*@thymesVar id="film" type="com.flinx.Film"*/-->
<section class="backdrop"
         th:style="${'background-image:url(http://image.tmdb.org/t/p/original' + film.getBackdropPath() + ')'}">
    <div class="shadow-base"></div>
    <div class="movie-info">
        <div class="container">
            <ul class="info">
                <li class="info-item" th:inline="text">
                    <span class="movie-name" th:text="${film.getOriginalTitle()}"/>
                    <span class="movie-year" th:text="${film.getProductionYear()}"/>
                </li>
                <li class="info-item" th:inline="text">
                    <span class="movie-rating" th:text="${film.getTmdbRating()}"/>
                    <i class="movie-rating fa fa-star"/>
                </li>
            </ul>
        </div>
    </div>

    <div class="buttons">
        <a th:if="${film.netflixId!=null}" th:attr="data-id=${film.netflixId}" th:class="'btn btn-netflix'">Watch on Netflix</a>
        <!--<a th:class="'btn btn-cinema' + (${film.cinemaUrl==null} ? ' disabled' : '')">Finnkino</a>-->
    </div>

</section>
<section class="info">
    <div class="container">
        <div class="row">
            <span th:text="${film.getDescription()}"/>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/js/flinx.js}"/>
</body>
</html>